@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.wyswyg-package ul li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
}

.wyswyg-package ul li::before {
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-image: url('../images/bx-check.svg');
}
